<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>FatMiniGurine</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="path/to/angular-popeye/release/popeye.css" />
  <link rel="stylesheet" href="assets/style.css">
</head>
<body ng-app="content" ng-controller="contentCtrl" >
  <!--Début de la navbar-->
  <nav class="navbar navbar-inverse">
    <!--Titre de la navbar-->
    <div class="navbar-header">
    <a class="navbar-brand" href="#">FatMiniGurines</a>
  </div>
      <!--Liste de la navbar-->
      <ul class="nav navbar-nav">
        <li><a href"#" onclick="modale()">Top tendances</a></li>
        <li><a href="#">Weeb</a></li>
        <li><a href="#">Pop</a></li>
        <li><a href="#">Marvel</a></li>
      </ul>
  </nav><!--Fin de la navbar-->
  <h1 class="col-md-6 .offset-md-3">FatMiniGurine</h1>
  <div id="aModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <section  class="container">
        <div class="row">
        <thead class="col-md-6" ng-repeat="article in articles" ng-if="article.type == basket[]">
          <th></th>
        </thead>
          <tbody>
          <td>{{article.product + ' ' + article.price}} {{quantité}} {{total}} </td>
        </tbody>
        </form>
      </div>
      </section>
    </div>
  </div>
  <!-- Top tendance -->
  <h2 class="categorieTitle">Figurine top tendance</h2>
  <ul ng-repeat="article in articles" ng-if="article.type == 'topTendance'">
    <li>
      {{article.product + ' ' + article.desc + ' ' + article.price}} <img src="{{article.img}}" />
    </li>
  </ul>
  <!-- Japonaise -->
  <h2 class="categorieTitle">Figurine japonaise</h2>
  <ul ng-repeat="article in articles" ng-if="article.type == 'weeb'">
    <li>
      {{article.product + ' ' + article.desc + ' ' + article.price + ' '}}<img src="{{article.img}}" />
      </article>
    </li>
  </ul>
  <!-- Marvel -->
  <h2 class="categorieTitle">Figurine Marvel</h2>
  <ul ng-repeat="article in articles" ng-if="article.type == 'marvel'">
    <li>
      {{article.product + ' ' + article.desc + ' ' + article.price}} <img src="{{article.img}}" />
    </li>
  </ul>
  <!-- POP -->
  <h2 class="categorieTitle">Figurine POP</h2>
  <ul ng-repeat="article in articles" ng-if="article.type == 'pop'">
    <li>
      {{article.product + ' ' + article.desc + ' ' + article.price}} <img src="{{article.img}}" />
    </li>
  </ul>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script src="assets/js/jquery-3.2.1.js"></script>
  <script src="assets/js/modal.js"></script>
  <script src="assets/js/app.js"></script>
</body>
</html>
