
h3, h4, p{
  text-align: center;
}
.cardImg{
  display: flex;
  margin:auto;
}
.navbar-brand, .navbar, h2{
  font-family: 'Bangers', cursive;
    font-size: 1.7em;
}
.fas{
  color: white;
}
#promo{
  background: url("../img/bannierePromo.jpg") no-repeat;
  background-size: cover;
}
#promo1{
background-color: rgba(255,255,255,0.8);
}
#marvel{  background: url("../img/banniereMarvel.jpg") no-repeat;
  background-size: cover;
  font-size: 7em;
  color: transparent;
}
#pop{  background: url("../img/bannierepop.png") repeat-x;
background-size: contain;
  font-size: 7em;
  color: transparent;
}
#japonaise{  background: url("../img/banniereJ.png") no-repeat;
  background-size: cover;
  font-size: 7em;
  color: transparent;
}
#topTendance{  background: url("../img/banniereT.gif") repeat-x;
background-size: contain;
  font-size: 7em;
  color: transparent;
}
body{
  background-image: url("../img/confetti.gif");
}
